

	  <div>
          <image class="imagefront" src="assets/frontPageImage.png"/>
    </div>

	  <div class="textFrontPicture">
    	    <h1><span class="kodefellesskap">KODEFELLESKAP?</span></h1>
    </div>



<div class="textContainer">

      <div class="whoAreWeContainer">
      	<h2>HVEM ER VI?</h2>
      	<h3>Vi er tre personer som ønsker å skape ett større kodefellesskap</h3>
      	<p>Det begynte med to personer som hver for seg hadde et ønske om å lære koding. Vi erfarte fort begge to at å lære koding var vanskelig. Det var lett å gi opp når vi satt alene. Vi søkte derfor sammen og møtes en gang i uken. Til hvert møte hadde vi et læringsmål. På møtet drev vi med repetering og praktisere av ulike tema. Vanskelig tema ble diskutert og vi fant ut av.</p>

      	<p>Dette har vi drevet med i over 2 år og er nå blitt tre. Vi ønsker å skape et større sosialt kodemiljø. Et uformelt læringsmiljø der deltakere selv setter premissene for framdrift. Vi er derfor å gang med å starte en sosial kodeforening hvis interessen for dette er til stede. </p>

      	<p>Vi kaller foreningen sosial koding. Vi vil at de som har koding som lidenskap skal ha en plass å møtes. En plass å dyrke sin lidenskap. Det er en plass for de som ikke kan koding men ønsker å lære, og det er en plass for de som kan litt koding men ønsker bli bedre. </p>
      </div>

      <div class="linje">
      	<image class="Linje" src="/assets/Linje1.svg"/>
      	<p></p>
      </div>

      <div class="concept">
      	<div>
      		<image class="imageconcept" src="/assets/imageconcept.jpg"/>
      	</div>
      	<div>
      		  <div>
                <h2>KONSEPT</h2>
                <h3>Vi møtes jevnlig for å kode</h3>
      			     <div class="test">
      				        <img class="symbol" src="/assets/symbol.svg"> 
      				        <p class="textconcept">SMÅ KODEGRUPPER MED EGNE KODEMÅL:<br>Vi oppfordrer folk på infokvelder til å danne små grupper som setter opp langsiktige kodemål og læringsmål fram til neste programmeringskveld. </p>
      			     </div>
      			     <div class="test">
      				        <img class="symbol" src="/assets/symbol.svg">
      				        <p class="textconcept" >PROGRAMMERINGSKVELDER: <br>Alle de små kodegruppene møtes på en gang i uken for å diskutere, repetere og praktisere det man har lært siden forrige møte. Hver gruppe står fritt til å sette opp sitt eget løp.</p>
      			     </div>

      		  </div>
      	</div>
      </div>

      <div class="linje">
      	<image class="Linje" src="/assets/Linje1.svg"/>
      	<p></p>
      </div>

      <div class="whoAreYouHeadline">
      	<h2>HVEM ER DU?</h2>
      	<h3>Du kjenner deg igjen i følgende:</h3>
      </div>

      
      <div class="whoAreYouBoxContainer">
          <div class="row row1">

              <div class="col-md-4 col-xm-12 box box1">
                <h3>KODING</h3>
                <p>
                  Du ønsker å lære (mer) koding
                </p>
              </div>

              <div class="col-md-4 col-xm-12 box box2">
                <h3>ALDER</h3>
                <p>
                  Du er over 25 år
                </p>
              </div>

              <div class="col-md-4 col-xm-12 box box3">
                <h3>KODEFELLESSKAP</h3>
                <p>
                  Du ser verdien av et kodefellesskap
                </p>
              </div>
          </div>
          <div class="row row2">
              <div class="col-md-4 col-xm-12 box box4">
                <h3>KUNNSKAPSDELING</h3>
                <p>
                  Du liker å dele din kunnskap
                </p>
              </div>

              <div class="col-md-4 col-xm-12 box box5">
                <h3>BERGEN ELLER OMEGN</h3>
                <p>
                  Du bor i Bergen eller omegn
                </p>
              </div>

              <div class="col-md-4 col-xm-12 box box6">
                <h3>JAVA</h3>
                <p>
                  Du koder eller ønsker å kode i Java
                </p>
              </div>
          </div>
        </div>


      <div class="howJoinUsContainer">
      	<h2>HVORDAN BLI MED I FORENINGEN?</h2>
      </div>
</div>
