// FONT - LOGO AND TEXT
		@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
		@import url('https://fonts.googleapis.com/css?family=Oswald');

// COLOR
		$color1: rgb(19,83,115);
		$color2: rgb(175,188,186);
		$color3: rgb(160,188,208);
		$color4: rgb(57,81,99);
		$color5: rgb(146,111,95);
		$color6: rgb(78,24,27);

// GLOBAL - HTML, BODY, H, P

		body, html {
			margin: 0;
			padding: 0;
		}

		html {
			font-size: 16px;
		}

		h1, h2, h3, p {
			font-family: 'Oswald', sans-serif;
		}

		h1 {
			font-size: 3.5rem;
			color: $color2;
		}

		h2 {
			color: $color5;
			font-size: 2.2rem;
		}

		h3 {
			color: $color1;
			font-size: 1.6rem;
		}

		p {
			color: $color4;
			font-size: 1.3rem;
		}

// CONTAINER - MARGIN, PADDING, WIDTH, HEIGHT

		.textContainer {
			margin: 70px 40px 20px 40px;
			max-width: 1200px;
		}
																   
		.imageTextFrontContainer .whoAreWeContainer, .concept, .whoAreYouContainer, .howJoinUsContainer {
			padding-top: 120px;
		}

// HEADER

		.logo {
			font-family: 'Shadows Into Light', cursive;
			font-size: 2.2rem;
			padding: 10px 25px;
			
		}
         
		.menuTextContainer {
			background-color: rgba(255,255,255,0.9);
			border-bottom: 1px solid black;
		}

		.aMenu {

		}

		a {
			
			text-decoration: none;
			padding: 1rem 2rem 1rem 2rem;
			margin: 0.5rem;
			font-size: 1.3rem;
			color: black !important;
		}

		a:hover {
			background-color: $color1;
			text-decoration: none;
			color: white !important;
		}

// FRONTPICTURE AND TEXT ON FRONTPICTURE

		.imageFront {
			width: auto;
  			height: auto;
  			max-width: 100%;
  			max-height: 90%;
  			margin: 0px auto;
  			padding: 0;
		}

		.textFront h1 {
			position: absolute;
		}


// ABOUT US

		

// CONCEPT

		.item1 {
			grid-area: picture;
		}

		.item2 {
			grid-area: tekst;
		}

		.concept {
			display: grid;
			grid-template-areas: 
			'picture picture picture tekst tekst'
			'picture picture picture tekst tekst'
			'picture picture picture tekst tekst';
			grid-gap: 10px;
			background-color: $color2;
			padding: 30px;
			
		}

		.imageconcept {
			display: block;
  			width: 200px;
  			margin-right: 20px;
  			margin-left: 0px;
  			padding: 0;
  			margin-left: 0px;
			margin-top: 0px;
		}

		.imgTextConceptContainer {
			display: flex;
			margin-left: 20px;
		}

		.symbolconcept {
			margin-right: 25px;
		}

		.textconcept {
			margin-top: 15px;
		}

// WHO ARE YOU

		.whoAreYouBoxContainer {
			margin: 18px;
		}

		.box p, .box h3 {
			color: white;
		}

		.box {
			margin-bottom: 25px;
			padding: 60px 20px;
			text-align: center;
		}

		.box1 {
			background-color: $color1;
		}

		.box2 {
			background-color: $color2;
		}

		.box3 {
			background-color: $color3;
		}

		.box4 {
			background-color: $color4;
		}

		.box5 {
			background-color: $color5;
		}

		.box6 {
			background-color: $color6;
		}

// MEMBER

		.memberTextContainerOuter {
			background-color: $color2;
			padding: 40px 0px 40px 0px;
			
		}

		.memberTextContainerInner {
			max-width: 1200px;
		}

		.memberText {
			padding: 0px 40px 0px 40px;

		}

// CONTACT




// MEDIA QUERY - ONLY MAX-WIDTH

		// TO: Extra small devices
				@media (max-width: 575.98px) {

						.textFront h1 {
							top: 18%;
							left: 44%;
							
						}

						html {
							font-size: 5px;
						}

				}

		//TO: small devices
				@media (max-width: 767.98px) {

						
						
				}

		//TO: medium devices
				@media (max-width: 991.98px) {

						html {
							font-size: 10px;
						}

						.imageconcept {
							display:none;
						}

						.symbolconcept {
							display: none;
						}

						.imgTextConceptContainer {
							margin-left: 0px;
						}

				}

		//TO: large devices
				@media (max-width: 1199.98px) {

						

				}


// MEDIA QUERY - BETWEEN MIN AND MAX

		// ONLY: Small devices 
				@media (min-width: 576px) and (max-width: 767.98px) {  
						
						.textFront h1 {
							top: 27%;
							left: 44%;
						}
						
				}

		// ONLY: Medium devices 
				@media (min-width: 768px) and (max-width: 991.98px) {  

						.textFront h1 {
							top: 37%;
							left: 44%;
						}

				}

		// ONLY: Large devices 
				@media (min-width: 992px) and (max-width: 1199.98px) {  

						.textFront h1 {
							top: 45%;
							left: 44%;
						}

				}

		// ONLY: Extra large devices 
				@media (min-width: 1200px) {  

						.textFront h1 {
							top: 60%;
							left: 44%;
						}

				}


