// FONT - LOGO AND TEXT
		@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
		@import url('https://fonts.googleapis.com/css?family=Oswald');

// COLOR
		$morkebla: rgb(19,83,115);
		$lysegra: rgb(175,188,186);
		$lysebla: rgb(160,188,208);
		$morkegra: rgb(57,81,99);
		$lysebrun: rgb(146,111,95);
		$brun: rgb(78,24,27);

// HTML AND BODY

		body, html {
			margin: 0;
			padding: 0;
		}

		html {
			font-size: 16px;
		}


// HEADER

		.logo {
			font-family: 'Shadows Into Light', cursive;
			font-size: 2.2rem;
			padding: 10px 25px;
			
		}
         
		.menuTextContainer {
			background-color: rgb(255,255,255);
		}

		.aMenu {

		}

		a {
			
			text-decoration: none;
			padding: 1rem 2rem 1rem 2rem;
			margin: 0.5rem;
			font-size: 1.3rem;
			color: black !important;
		}

		a:hover {
			background-color: $morkebla;
			text-decoration: none;
			color: white !important;
		}

// FRONTPICTURE AND TEXT ON FRONTPICTURE

		.imageFront {
			width: auto;
  			height: auto;
  			max-width: 100%;
  			max-height: 90%;
  			margin: 0px auto;
  			padding: 0;
		}
		
		.textFront h1 {
			position: absolute;
			top: 60%;
			left: 44%;
		}

// H AND P

		h1, h2, h3, p {
			font-family: 'Oswald', sans-serif;
		}

		h1 {
			font-size: 3.5rem;
			color: $lysegra;
		}

		h2 {
			color: $morkebla;
			font-size: 2.2rem;
		}

		h3 {
			color: $lysebrun;
			font-size: 1.6rem;
		}

		p {
			color: $morkegra;
			font-size: 1.3rem;
		}





// CONTAINER - MARGIN, PADDING, WIDTH, HEIGHT

		.textContainer {
			margin: 70px 40px 20px 40px;
			max-width: 1200px;
		}
																   
		.whoAreWeContainer, .linje, .concept, .whoAreYouHeadline, .whoAreYouBoxContainer, .howJoinUsContainer {
			margin-bottom: 40px;
		}

// ABOUT US



// CONCEPT

		.item1 {
			grid-area: picture;
		}

		.item2 {
			grid-area: tekst;
		}

		.concept {
			display: grid;
			grid-template-areas: 
			'picture picture picture tekst tekst'
			'picture picture picture tekst tekst'
			'picture picture picture tekst tekst';
			grid-gap: 10px;
			background-color: $lysegra;
			padding: 30px;
			
		}

		.imageconcept {
			display: block;
  			width: 200px;
  			margin-right: 20px;
  			margin-left: 0px;
  			padding: 0;
  			margin-left: 0px;
			margin-top: 0px;
		}

		.imgTextConceptContainer {
			display: flex;
			margin-left: 20px;
		}

		.symbolconcept {
			margin-right: 25px;
		}

		.textconcept {
			margin-top: 15px;
		}

// HVEM ER DU

		.whoAreYouBoxContainer {
			margin: 18px;
		}

		.box p, .box h3 {
			color: white;
		}

		.box {
			margin-bottom: 25px;
			padding: 60px 20px;
			text-align: center;
		}

		.box1 {
			background-color: $morkebla;
		}

		.box2 {
			background-color: $lysegra;
		}

		.box3 {
			background-color: $lysebla;
		}

		.box4 {
			background-color: $morkegra;
		}

		.box5 {
			background-color: $lysebrun;
		}

		.box6 {
			background-color: $brun;
		}

// MEMBER

		

// MEDIA QUERY

@media only screen and (max-width: 900px) {

		.imageconcept {
			display:none;
		}

		.symbolconcept {
			display: none;
		}

		.textFront h1 {
			display: none;
		}

		
}	

@media only screen and (max-width: 1025px) {

		html {
					font-size: 10px;
		}

		.imgTextConceptContainer {
			margin-left: 0px;
		}

		

}

@media only screen and (max-width: 360px) {

		

}

