// FONT - LOGO AND TEXT
		@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
		@import url('https://fonts.googleapis.com/css?family=Oswald');

// COLOR
		$color1: rgb(160,188,208);		// lyseblå
		$color2: rgb(19,83,115); 		// mørkeblå
		$color3: rgb(175,188,186);		// lysegrå
		$color4: rgb(57,81,99);			// mørkegrå
		$color5: rgb(146,111,95);		// lysebrun
		$color6: rgb(78,24,27);			// mørkebrun

// GLOBAL - HTML, BODY, H, P, A

		body, html {
			margin: 0;
			padding: 0;
		}

		html {
			font-size: 16px;
		}

		h1, h2, h3, p, a {
			font-family: 'Oswald', sans-serif;
		}

		h1 {
			color: $color1;
			font-size: 3.5rem;	
		}

		h2 {
			color: $color5;
			font-size: 2.2rem;
		}

		h3 {
			color: $color2;
			font-size: 1.6rem;
		}

		p {
			color: $color4;
			font-size: 1.3rem;
		}

		a {
			text-decoration: none;
			color: black;
		}




// GLOBAL CONTAINER - MARGIN, PADDING, WIDTH, HEIGHT + ANCHOR

		.textContainer {
			margin: 20px 105px 200px 105px;
			max-width: 1000px;
		}

// HEADER

		.logoMenuContainer {
			background-color: rgba(255,255,255,0.9);
			border-bottom: 1px solid black;
		}

		a {
			font-size: 1.3rem;
			padding: 1rem 2rem 1rem 2rem;
			color: black !important;
			margin: 0.5rem;
		}

		a:hover {
			background-color: $color2;
			color: white !important;
		}

		.logo a {
			font-family: 'Shadows Into Light', cursive;
			font-size: 2.2rem;
			padding: 0px 45px 0px 45px;
			color: $color2;
		}
		
		.logo a:hover {
			text-decoration: none;
		}

		.anchor {
			display: block;
			position: relative;
			top: -93px;
			visibility: hidden; 
		}

// FRONTPICTURE AND TEXT ON FRONTPICTURE

		.imageFront {
			width: auto;
  			height: auto;
  			max-width: 100%;
  			max-height: 90%;
  			margin: 0px auto;
  			padding: 0;
		}

// ABOUT US

		.linje1 {
			border-bottom: 1px solid black;
			min-width: 200px;
			display: inline-block;
			padding-top: 40px;
		}

// CONCEPT

		.conceptContainer {
			background-color: white;
			padding: 0px;
		}

		.conceptContainerLeft {

		}

		.imgTextConceptContainer {
			display: flex;
			margin-left: 0px;
		}

		.symbolconcept {
			margin-right: 25px;
		}

		.textconcept {
			margin-top: 15px;
		}

		.linje2 {
			border-bottom: 1px solid black;
			min-width: 200px;
			display: inline-block;
			padding-top: 40px;
		}

// WHO ARE YOU

		.whoAreYouBoxContainer {
			margin: 18px;
		}

		.box p, .box h3 {
			color: white;
		}

		.box {
			margin-bottom: 25px;
			padding: 60px 20px;
			text-align: center;
			border-right: 6px solid white;
		}

		.box1 {
			background-color: $color1;
		}

		.box2 {
			background-color: $color2;
		}

		.box3 {
			background-color: $color3;
			
		}

		.box4 {
			background-color: $color4;
		}

		.box5 {
			background-color: $color5;
		}

		.box6 {
			background-color: $color6;
			
		}

		.linje3 {
			border-bottom: 1px solid black;
			min-width: 200px;
			display: inline-block;
			padding-top: 40px;
		}

// MEMBER

		.memberTextContainer {
			max-width: 1200px;
		}

		

// CONTACT

		.textContact {
			margin-bottom: 300px;
		}


// FOOTER

		footer {
			Height: 270px;
			background-color: $color3;
			border: 1px solid black;
		}


// MEDIA QUERY - ONLY MAX-WIDTH

		// TO: Extra small devices
				@media (max-width: 575.98px) {

						.textFront h1 {
							top: 18%;
							left: 44%;
							
						}

						html {
							font-size: 5px;
						}

						.textContainer {
							margin: 20px 30px 200px 30px;
							
						}

				}

		//TO: small devices
				@media (max-width: 767.98px) {

						
						
				}

		//TO: medium devices
				@media (max-width: 991.98px) {

						html {
							font-size: 10px;
						}

						.imageconcept {
							display:none;
						}

						.symbolconcept {
							display: none;
						}

						.imgTextConceptContainer {
							margin-left: 0px;
						}

				}

		//TO: large devices
				@media (max-width: 1199.98px) {

						

				}


// MEDIA QUERY - BETWEEN MIN AND MAX

		// ONLY: Small devices 
				@media (min-width: 576px) and (max-width: 767.98px) {  
						
						.textFront h1 {
							top: 27%;
							left: 44%;
						}
						
				}

		// ONLY: Medium devices 
				@media (min-width: 768px) and (max-width: 991.98px) {  

						.textFront h1 {
							top: 37%;
							left: 44%;
						}

				}

		// ONLY: Large devices 
				@media (min-width: 992px) and (max-width: 1199.98px) {  

						.textFront h1 {
							top: 45%;
							left: 44%;
						}

				}

		// ONLY: Extra large devices 
				@media (min-width: 1200px) {  

						.textFront h1 {
							top: 90%;
							left: 2%;
							background-color: $color3;
													}

				}


